.card-highlight{

    max-width: 320px;
    margin: 0 3rem 3rem;


    &--item{
        border: 1px solid #d1d8d4;
    }
    &--image{
        background: url('http://lorempixel.com/450/183/') no-repeat scroll 0 0 transparent;
        height: 160px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 18% 75%, 15% 81%, 12% 75%, 0% 75%);
        background-size: contain;

    }
    &--content{
        margin-top: -5px;
        padding: 0 3rem 3rem;
    }

    &--index{
        color: #848685;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    &--title{
        font-size: 22px;
        margin: 1.5rem 0;
    }

    &--cta{
        text-align: center;
        padding: 3rem 0 0;

        .btn{
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        margin: 0;

        &--image{
            background: url('http://lorempixel.com/768/183/') no-repeat scroll 0 0 transparent;
            width: 100%;
            height: auto;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 18% 75%, 15% 81%, 12% 75%, 0% 75%);
            background-size: contain;
        }
    

        &--item{
            border: none;
        }

        &--content{
            margin-top: -5px;
            padding: 0 2.2rem 3rem;
        }
    
    }
}


// card page

.card-page{
    border: 1px solid #d1d8d4;
    width: 65%;
    margin: -20rem auto 10rem;
    background: #FFFFFF;
    padding: 4rem;
    position: relative;

    &--title{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &--text{
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &--cta{
        margin-top: 30px;
        .btn{
            width: 100%;
        }
    }

    @media (max-width: 992px) {
        width: 100%;
        padding: 4rem 2.2rem;
        margin-bottom: 0;
    }
}

.description-list{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin-top: 2rem;

    &--item {
        display: flex;
        align-items: center;

        &:not(:last-of-type){
            margin-bottom: 1rem;
        }

        span {
            display: inline-block;
            background: #000;
            width: .7rem;
            height: .7rem;
            border-radius: 50%;
            margin-right: 4px;
        }

    }

}