.form{
    margin-top: 4rem;

    &-group{
        margin-bottom: 2rem;
    }
    &-label{
        margin-bottom: .5rem;
        font-size: 1.5rem;

        &--block{
            display: block;
        }
    }

    &-input{
        width: 100%;
        padding: 1.5rem;
        background: #fff;
    }
}