.form{
    &-group{
        margin-bottom: 20px;
    }
    &-label{
        margin-bottom: 5px;

        &--block{
            display: block;
        }
    }
    &-input{
        width: 100%;
        padding: 15px;
    }
}