.plain-list{
    margin-top: 2rem;

    &--content{
        margin-bottom: 3.5rem;
    }

    &--title {
        font-size: 1.6rem;
        margin-bottom: 2rem;
		color: #1a5492;
		font-weight: normal;
    }
}

.box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	border-radius: 5px;
	background-color: #3db5a2;
	background-image: linear-gradient(135deg, #3db5a2 10%, #1a5492 100%);
	-webkit-transition: all ease .4s;
	-ms-transition: all ease .4s;
	transition: all ease .4s;
	color: #fff;
	
	&:hover {
		background-color: #1a5492;
		background-image: linear-gradient(135deg, #1a5492 10%, #1a5492 100%);
		-webkit-transition: all ease .4s;
		-ms-transition: all ease .4s;
		transition: all ease .4s;
	
	}

    &:not(:first-of-type) {
        border-top: none;
    }

    &--title {
        display: flex;
        flex-direction: column;
    }

    &--type {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
		opacity: 0.75;
    }
	&--wifi {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
	
	


    &--name {
        font-size: 1.8rem;
			@media (max-width: 768px) {
				display: none;
		}
    }


    &--speed {
        display: flex;
        align-items: flex-end;;
        font-size: 2rem;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: -webkit-center;
    }

    &--icon {
        height: 2.3rem;
        width: 2.3rem;
        margin-right: 3px;
		margin-bottom: -3px;
    }


    &--value {
        font-weight: bold;
	    
    }

    &--price {
        display: flex;
        align-items: center;
        font-size: 2rem;
		
        
        &-format {
            font-size: 1.2rem;
            margin-right: 0.5rem;
			opacity: 0.75;	
        }
    }
}

