.footer{
    padding: 2rem 0;
    border-top: 1px solid #ecf0f5;
	color: $footerColor;
    background-color: $footerBg;
	
    .text-content{
        &--title{
            margin-bottom: .5rem;
            font-size: 2rem;
        }

        &--subtitle {
            font-size: 1.2rem;
            color: $footerColorLight;
			opacity: 0.75;
        }
    }

    .social-media {
        &--link {
            display: inline-block;
            
            &:not(:last-of-type) {
                margin-right: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 2rem 2.2rem;

        .social-media {

            &--logo {
                height: 20px;
                width: 20px;
            }
        }
    }
    
}