.footer{
    background-color: $footerBg;
    padding: 2rem 0;
    color: $footerColor;
    
    .text-content{


        &--title{
            margin-bottom: .7rem;
            font-size: 1.3rem;
        }

        &--subtitle {
            font-size: 1rem;
            color: $footerColorLight;
        }
    }
}