.header{
    background-color: $headerBg;
    padding: 2.2rem;
    
    
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo{
        img{
            width: 18rem;
        }
    }


    &-nav{
        &-list{
            display: flex;

        }
        &-item{
            &:not(:first-of-type) {
                margin-left: 1.5rem;
            }
        }
        &-link{
            color: $headerNav;
            font-weight: bold;
            text-decoration: none;
            font-size: 1.6rem;
        }
    }
}