.section{
    &-banner {
        background-image: linear-gradient(135deg, #3db5a2 10%, #1a5492 100%);
        text-align: center;
        color: $heroText;
        padding: 10rem 0;
		padding-top: 17rem;

        &_card {
            text-align: center;
            padding: 10rem 0 23rem;
            position: relative;
			padding-top: 17rem;
    
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.3);
                width: 100%;
                height: 100%;
            }
        }

        &--title{
            color: #FFFFFF;
            font-size: 4rem;
            position: relative;
            margin-bottom: 1rem;
        }
    
        &--subtitle{
            color: #FFFFFF;
            font-size: 1.6rem;
            position: relative;
			opacity: 0.75;
			font-weight: normal;
        }

        @media (max-width: 992px) {
            padding-top: 15rem;

            &_card {
              padding: 15rem 0 15rem;
            }
          }

        @media (max-width: 768px) {
            padding: 15rem 0 5rem;

            &_card {
                padding: 15rem 0 15rem;
            }
            &--title{
                font-size: 3rem;
                text-align: left;
                padding-left: 2.2rem;
                padding-right: 2.2rem;
                margin-bottom: 1rem;
            }
        
            &--subtitle{
                font-size: 1.6rem;
                text-align: left;
                padding-left: 2.2rem;
                padding-right: 2.2rem;
            }
        }



    }


    &-content {
        margin: 5rem 5rem 2rem;

        @media (max-width: 768px) {
            margin: 0rem 0rem 2rem;
			margin-left: 2rem;
			margin-right: 2rem;
        }
    }

    &.fix-top {
        .section-banner_card {
            @media (max-width: 768px) {
                padding: 5rem 0 15rem;
            }
        }
    }

    
}