// fonts
$fontBase: 'Roboto', sans-serif;


// general

$textColor: #000000;

// button

$btnPrimaryBg: #282a5b;
$btnPrimaryColor: #FFFFFF;
$btnSubmitBg: #1abc9c;
$btnSubmitShadow: #15987e;
$btnSubmitColor: #FFFFFF;

// header

$headerBg: #FFFFFF;
$headerNav: #282a5b;

// hero

$heroBg: #58aca2;
$heroText: #FFFFFF; 

// about

$aboutBg: #efefef;

// signup

$signupBg: #FFFFFF;

// footer

$footerBg: #efefef;
$footerColor: #000000;




