// fonts
$fontBase: 'Roboto', sans-serif;

// general

$textColor: #a8aeb4;

// button

$btnPrimaryBg: #1a5492;
$btnPrimaryColor: #FFFFFF;
$btnSubmitBg: #1abc9c;
$btnSubmitShadow: #15987e;
$btnSubmitColor: #FFFFFF;


// dropdown
$dropDownBg: #fff;
$dropDownColor: #1a5492;

// header

$headerBg: #FFFFFF;
$headerNav: #1a5492;

// hero

$heroBg: #58aca2;
$heroText: #FFFFFF; 

// about

$aboutBg: #efefef;

// signup

$signupBg: #FFFFFF;

// footer

$footerBg: #fff;
$footerColor: #1a5492;
$footerColorLight: #1a5492;




